.item-card-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;

  &__details {
    display: flex;
    align-items: center;

    img {
      width: 100px;
    }

    &__info {
      padding-left: 20px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }
}
